@import 'global';
@import 'header';

.line{
    width:100%;
    height:0;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #f3f3f3;
}

.mod{
    margin:8px;
    .hd{
        margin-top:13px;
        height:57px;
        border:1px solid #d9d9d9;
        background:#f4f4f4;
        display:-webkit-box;
        .icon{
            display:inline-block;
            width:57px;
            height:57px;
            background:@gColor;
        }
        h3{
            margin-left:10px;
            font-weight:normal;
            height:57px;
            font-size:15px;
            -webkit-box-flex:1;
            b{
               font-size:15px;
               line-height:35px;
               display:block;
               color:#333333;
            }
            em{
                display:block;
                font-size:11px;
                color:#999999;
            }

        }
    }

    .bd{



    }
}
.home-goods{
    .search-btn{
        margin:13px 0 0 4px;
        float:right;
        width:57px;
        height:57px;
        border:1px solid #d9d9d9;
    }
    .block{
        margin-top:6px;
    }
}

.home-tags{
    ul{
        -webkit-columns:61px 5;
    }
    li{
        width:59px;
        height:25px;
        overflow:hidden;
        border:1px solid #dddddd;
        background:#f8f8f8;
        a{
            display:block;
            width:57px;
            height:23px;
            line-height:23px;
            text-align:center;
            margin:1px;
            color:#333333;
            font-size:12px;
            background:#f4f4f4;
        }
    }
}

.home-album{
    .bd{
        ul{
            -webkit-columns:100px 3;
        }
        li{
           -webkit-box-flex:1;
           width:100px;
           height:100px;
        }
    }
}

