@import 'global';
@import 'header';
@import 'list';
@import 'detail';
@import 'like';

@import 'home';

@import 'album';

@import 'page_style';

@import 'pagenav';

.main,.content{
    position:relative;
}


.menu-list{
    display:none;
    position:absolute;
    right:5px;
    top:48px;
    z-index:9999;
    width:140px;
    background:rgba(0,0,0,0.8);
    box-shadow:0 0 3px rgba(0,0,0,0.8);
    li{
        width:140px;
        height:39px;
        a{
           display:block;
           width:140px;
           height:39px;
           text-align:center;
           line-height:39px;
           color:#fdf7f7;
           font-size:15px;
        }
        &.line{
            height:0;
            border-top:1px solid #000;
            border-bottom:1px solid #484642;
        }
        &.my-like{
            position:relative;
            em{
                position:absolute;
                left:19px;
                top:12px;
                display:block;
                width:16px;
                height:14px;
                background:url(img/menu-star.png) no-repeat scroll 0 0;
                background-size:cover;
            }
        }
    }
    &:after{
        position:absolute;
        top:-8px;
        right:22px;
        content:"";
        width:0;
        height:0;
        border:8px solid transparent;
        border-bottom:8px solid rgba(0,0,0,0.8);
        border-top:none;
    }
}

.mask{
    display:none;
    position:absolute;
    z-index:998;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0;
}

.search-box{
    width:300px;
    margin:16px auto 0 auto;
    .search-input{
        float:left;
        border-top:1px solid #e0e0e0;
        box-shadow:inset 0 1px 3px #f5f5f5;
        background:#fff;
        height:32px;
        width:232px;
        border-top-left-radius:16px;
        border-bottom-left-radius:16px;
        padding-left:16px;
        input{
            float:left;
            margin-top:1px;
            width:232px;
            height:31px;
            line-height:30px;
            border:none;
            color:#333333;
            font-size:15px;
        }

    }
    #J-searchBtn{
        float:left;
        width:52px;
        height:33px;
        background:#9cd233;
        border-top-right-radius:16px;
        border-bottom-right-radius:16px;
        em{
            display:block;
            text-indent:-9999px;
            margin:7px 0 0 15px;
            width:19px;
            height:19px;
            background:url(img/search-btn1.png) no-repeat scroll 0 0;
            background-size:cover;
        }
    }

}
.no-search-result{
    display:none;
    width:300px;
    margin:5px auto 0 auto;
    font-size:14px;
    color:#999999;
    line-height:26px;
}

/*slider组件样式*/
.slider-holder{
    z-index:999;
    position:absolute;
    left:0;
    width:320px;
    .goods-slider{
        margin-left:17px;
        width:284px;
        ul{
            width:284px;
            overflow:hidden;
            li{
                width:284px;
                display:table-cell;
                .good-operater{
                    position:relative;
                    display:inline-block;
                    width:284px;
                    height:40px;
                    line-height:40px;
                    color:#999999;
                    background:#f4f4f4;
                    .like-num{
                        position:absolute;
                        opacity:0;
                        z-index:2;
                    }
                    .J-like{
                        position:relative;
                        float:right;
                        margin:8px 5px 0 5px;
                        width:25px;
                        height:25px;
                        background-size:cover;
                        background-image:url(img/star.png);
                        z-index:3;
                    }
                    .on{
                        background-image:url(img/red-star.png);
                    }
                }
            }
        }
    }
    .nav-holder{
        .prev,.next{
            position:absolute;
            top:124px;
            display:block;
            width:12px;
            height:19px;
            background-size:cover;
        }
        .prev{
            left:0;
            background-image:url(img/prev_btn.png);


        }
        .next{
            right:0;
            background-image:url(img/next_btn.png);
        }
    }


    backface-visibility: hidden;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;

}


/*slider bounceIn*/
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70%{
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

/*slider bounceOut*/
@-webkit-keyframes bounceOut {
    0% {
        -webkit-transform: scale(1);
    }

    25% {
        -webkit-transform: scale(.9);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.01);
    }
}


@keyframes bounceOut {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(.9);
    }

    100% {
        opacity: 0;
        transform: scale(.01);
    }
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.8;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.8;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*评论页面模版*/
.comment-tpl{
   position:absolute;
   left:5px;
   top:0;
   .close-btn{
       position:absolute;
       right:21px;
       top:-32px;
       text-indent:-9999px;
       display:block;
       width:18px;
       height:18px;
       z-index:1000;
       background:url(img/close.png) no-repeat scroll 0 0;
       background-size:cover;
   }
   .textarea-block{
       top:-1900px;
       &.show{
           top:0;
       }
   }
}
.comments{
    position:relative;
    z-index:999;
    li{
        width:310px;
        border-bottom:1px solid #000000;
        border-top:1px solid rgba(255,255,255,0.19);
        padding:8px 0 10px 0;
        &:first-child{
            border-top:none;
        }
        &:last-child{
            border-bottom:none;
        }
        .reply{
           position:relative;
           width:250px;
           color:#fff;
           padding:0 0 0 56px;

        }
        .avatar{
            position:absolute;
            left:0;
            top:0;
        }
        .author{
            font-size:14px;
            color:#fff;
        }
        .comment{
            margin-top:8px;
            font-size:12px;
            color:#cccccc;
        }
        .reply-btn{
            margin-top:7px;
            height:15px;
            line-height:15px;
            text-align:right;
            .J-reply{
                 color:#00baf7;
                 font-size:12px;
            }
        }

        .loop-reply{
           margin-top:13px;
           position:relative;
           color:#fff;
           width:299px;
           padding:10px 1px 10px 10px;
           font-size:12px;
           background:rgba(255,255,255,0.2);
           box-shadow:0px 0px 7px rgba(0, 0, 0, .2);
           &:after{
                position:absolute;
                right:0;
                top:-16px;
                content:"";
                width:0;
                height:0;
                font-size:0;
                border:8px solid transparent;
                border-bottom:8px solid #fff;
                border-right:0;
                opacity:0.2;
           }
        }

    }
}


.textarea-block{
    position:relative;
    padding:6px 10px 6px 12px;
    height:33px;
    display:-webkit-box;
    z-index:999;

    background:-webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#b6b6b6));
    .field{
        -webkit-box-flex:1;
        height:33px;
        -webkit-border-radius:16px;
        background-color:rgb(229,229,229);
        -webkit-box-shadow:inset 0px 1px 1px 0px rgba(0,0,0,0.4);
        box-shadow:inset 0px 1px 1px 0px rgba(0,0,0,0.4);
        padding:0 16px;
        input{
            border:none;
            background:none;
            width:100%;
            line-height:33px;
            color:#fff;
            font-size:14px;
        }
    }

    .submit{
        display:block;
        margin-left:8px;
        width:59px;
        height:33px;
        font-size:14px;
        color:#fff;
        text-align:center;
        line-height:33px;
        background:-webkit-gradient(linear, left top, left bottom, from(#9acd38), to(#79ac12));
        border-radius:16px;
    }
}







/*后期提到单独文件*/
#tbh5v0{

}
#tbh5v0 .c-float-popWrap .c-float-modePop{
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 2px;
    padding: 15px;
}
#tbh5v0 .c-float-popWrap .c-float-modePop .warnMsg{
    padding: 0px;
    font-size: 14px;
    color: white;
}
#tbh5v0 .c-float-popWrap.msgMode .c-float-modePop .content,
#tbh5v0 .c-float-popWrap.msgMode .c-float-modePop .doBtn{
     display:none;
}






