<div class="album-items-tpl" id="J-albumItemInfo">
   <div id="J-albumInfoWrap">
   </div>

   <div class="list clearfix" id="J-list">
       <ul class="good-list" id="J-waterfall">
       </ul>
       <div id="J-pageNav" class="c-pnav-con"></div>
   </div>
</div>