<div class="layout-tpl ablum-tpl" id="J-ablum">
    <div class="tab-holder" id="J-homeTab">
        <ul class="tab-nav">
            <li class="cur"><a href="#!albums/like/p1">我关注的专辑</a></li>
            <li><a href="#!albums/recommend/p1">专辑</a></li>
        </ul>
    </div>
    <ul class="ablum-list" id="J-ablums">

    </ul>
</div>