<div class="layout-tpl album-items-tpl" id="J-album">
    <div class="tab-holder" id="J-homeTab">
        <ul class="tab-nav">
            <li class="<%if(type=='like'){%>cur<%}%>"><a href="#!albums/like/p1">我关注的专辑</a></li>
            <li class="<%if(type=='recommend'){%>cur<%}%>"><a href="#!albums/recommend/p1">专辑</a></li>
        </ul>
    </div>
    <ul class="ablum-list" id="J-ablums">
        <div class="loading"><span></span></div>
    </ul>
    <div id="J-pageNav" class="c-pnav-con"></div>
</div>