<div class="album-info">
    <div class="user">
        <img src="http://img03.taobaocdn.com/tps/i3/T1eUY9XgtdXXXSaEYs-96-96.png" width="48"/>
        <h3>大脸猫2012</h3>
    </div>
    <div class="seperater"></div>
    <div class="desc">
        小家碧玉 复古 欧美各种混搭各种没翻天各种没救各种潮人各种嗨翻天
    </div>

    <div class="album-handle clearfix">
        <a href="#" class="J-fav"><em>收集</em><b>543</b></a>
        <a href="#" class="comments"><em></em>531</a>
    </div>
</div>