<div class="layout-tpl comment-tpl" id="J-tplComment">
    <a href="#" id="J-close" class="close-btn">关闭</a>
    <div class="comments-wrap">
        <div class="comments" id="J-comment-block">
            <ul id="J-comment"> </ul>
        </div>
        <div class="textarea-block show">
           <div class="field"><input type="text" name="content" class="J-inputField"/></div>
           <a href="#" class="submit" id="J-submit">发送</a>
        </div>
    </div>
</div>