<div id="J-homeLayout">
     <div class="tab-holder" id="J-homeTab">     </div>


     <div class="mod home-goods clearfix" id="J-modGood">     </div>


     <div class="mod home-tags clearfix" id="J-modTags">     </div>

     <div class="mod home-album clearfix" id="J-modAlbum">     </div>

     <div class="mod home-youai clearfix" id="J-modYouai">     </div>

</div>