<div id="J-homeLayout">
     <div class="tab-holder" id="J-homeTab">
         <ul class="tab-nav">
            <li class="cur"><a href="">首页</a></li>
            <li><a href="#!stroll/p1">逛逛</a></li>
         </ul>
     </div>
     <div class="home-user clearifx" id="J-modUser"></div>
     <div class="mod home-goods clearfix" id="J-modGood"></div>
     <div class="mod home-tags clearfix" id="J-modTags"></div>
     <div class="mod home-album clearfix" id="J-modAlbum"></div>
     <div class="mod home-youai clearfix" id="J-modYouai"></div>
     <div class="seperater"></div>
     <div class="home-feedback">
        <a href="#" class="feedback-btn"><em>有爱改版，期待您的反馈</em></a>
     </div>
</div>