<div class="search-btn"><a href="#!category/s"><em>搜索</em></a></div>
<div class="hd">
   <a href="#!category/v" class="link_category">
   <span class="icon"><em></em></span>
   <h3><b>宝贝</b><em><%= home_goodTitle %></em></h3>
   </a>
</div>
<div class="bd">
    <%= home_goodInfo %>
</div>