<div class="search-btn"><a href="#!tag"><em>搜索</em></a></div>
<div class="hd">
   <span class="icon"><em></em></span>
   <h3><b>宝贝</b><em><%= home_goodTitle %></em></h3>
</div>
<div class="bd">
    <%= home_goodInfo %>
</div>