<section class="like-section">
  <p><%= dateFormat %>喜欢了 <span class="like-count"><%= records.length %></span> 件 宝贝</p>
  <div class="list">
    <ul class="good-list"></ul>
  </div>
</section>
<div class="separator"></div>