  <a href="#!detail/<%= itemId %>"><img src="<%= imgUrl %>" width="150"/></a>
  <span class="desc"><b>￥<%= originalPrice %></b><a href="#" class="J-zoom"></a></span>
  <% if(comment){%>
    <div class="pop-comment"><%= comment%><i></i></div>
  <%}%>
