<div class="slider-holder" style="display:none;">
    <div id="slider" class="goods-slider" style="overflow: hidden;">
        <ul>
            <% _.each(images, function(img,index) { %>
            <li>
                <img src="<%= img.url %>" width="284"/>
                <span class="good-operater"><a href="#" class="J-like <%= isLiked ?'on':''%>"></a><span class="like-num"><em class="J-likeNum"><%= likeNum %></em>人已喜欢</span></span>
            </li>
            <%})%>
      </ul>
    </div>
    <div class="nav-holder">
        <a href="#" class="prev" id="J-prev"></a>
        <a href="#" class="next" id="J-next"></a>
    </div>
</div>