<div class="slider-holder" id="J-sliderHolder" style="display:none;">
      <div class="sliderWrap">
        <div id="<%= ID %>" class="goods-slider" style="overflow: hidden;">
            <ul id="<%= ID %>_UL">
              <% for (var i = 0; i < images.length; i++) { %>
                <li><img class="lazy" data-src="<%= images[i].url %>_570x570.jpg" src="http://img01.taobaocdn.com/tps/i1/T1_uZXXj0cXXbQbJvh-50-52.png"/></li>
              <% } %>
            </ul>
        </div>
        <div class="good-operater">
           <a href="#" class="J-like <% isLiked ? 'on' : ''%>"></a><span class="like-num">添加喜欢成功</span>
        </div>
      </div>
      <div class="nav-holder"><a href="#" class="prev" id="J-prev"></a><a href="#" class="next" id="J-next"></a></div>
</div>

