<div id="J-homeLayout">
     <div class="tab-holder" id="J-homeTab">
         <ul class="tab-nav">
            <li><a href="#!home">首页</a></li>
            <li class="cur"><a href="#!stroll/p1">逛逛</a></li>
         </ul>
     </div>
     <div class="list clearfix" id="J-list">
        <div class="title">当前有<%= Math.round(Math.random()*(1500-500)+500) %>人与你一起逛有爱！</div>
        <ul class="good-list" id="J-waterfall">

        </ul>
        <div id="J-pageNav" class="c-pnav-con"></div>
     </div>
</div>