<div class="page-style" id="J-styleLayout">


    <div class="tab-holder" id="J-homeTab">
        <ul class="tab-nav">
            <li><a href="#!category">类目</a></li>
            <li class="cur"><a href="#!style">风格</a></li>
        </ul>
    </div>

    <div id="J-stylePageContent">
         <div class="loading"><span></span></div>
    </div>
</div>