<div class="page-style" id="J-tagLayout">


    <div class="tab-holder" id="J-homeTab">
        <ul class="tab-nav">
            <li class="cur"><a href="#!tag">类目</a></li>
            <li><a href="#!style">风格</a></li>
        </ul>
    </div>

    <div class="search-box clearfix">
        <div class="search-input"><input type="text" name="" id="J-searchContent"/></div><a href="#" id="J-searchBtn"><em>搜索</em></a>
    </div>

    <div class="search-tips">没有搜索到符合条件的宝贝哦，换个词试试~</div>



    <!--衣服-->
    <div class="mod1 home-goods clearfix">
        <div class="hd">
            <h3>衣服</h3>
        </div>
        <div class="bd">
            <div class="block two-columns clearfix">
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1yfL7XkVaXXX59QP_-307-147.png" width="153"/></a>
                <a href="#"><img src="http://img01.taobaocdn.com/tps/i1/T11DnVXe0hXXXfnJrd-153-73.png" width="153"/></a>
            </div>
            <div class="block two-columns clearfix">
                <a href="#"><img src="http://img01.taobaocdn.com/tps/i1/T11DnVXe0hXXXfnJrd-153-73.png" width="153"/></a>
                <a href="#"><img src="http://img04.taobaocdn.com/tps/i4/T1ZKTWXf0fXXaep_Yc-152-73.png" width="153"/></a>
            </div>
        </div>
    </div>
    <div class="mod1 style-tags clearfix">
        <div class="bd">
            <ul>
                <li><a href="#">最新</a></li>
                <li><a href="#">热门</a></li>
                <li><a href="#">初秋单鞋</a></li>
                <li><a href="#">复古</a></li>
                <li><a href="#">风衣外套</a></li>
                <li><a href="#">开衫</a></li>
                <li><a href="#">新款包</a></li>
                <li><a href="#">波点控</a></li>
                <li><a href="#">秋季补水</a></li>
                <li><a href="#">更多</a></li>
            </ul>
        </div>
    </div>

    <!--鞋子-->
    <div class="seperater"></div>
    <div class="mod1 home-goods clearfix">
        <div class="hd">
            <h3>鞋子</h3>
        </div>
        <div class="bd">
            <div class="block two-columns clearfix">
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1yfL7XkVaXXX59QP_-307-147.png" width="153"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1yfL7XkVaXXX59QP_-307-147.png" width="153"/></a>
            </div>
            <div class="block four-columns clearfix">
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
            </div>
        </div>
    </div>
    <div class="mod1 style-tags clearfix" id="J-modTags">
        <div class="bd">
            <ul>
                <li><a href="#">最新</a></li>
                <li><a href="#">热门</a></li>
                <li><a href="#">初秋单鞋</a></li>
                <li><a href="#">复古</a></li>
                <li><a href="#">风衣外套</a></li>
                <li><a href="#">开衫</a></li>
                <li><a href="#">新款包</a></li>
                <li><a href="#">波点控</a></li>
                <li><a href="#">秋季补水</a></li>
                <li><a href="#">更多</a></li>
            </ul>
        </div>
    </div>


    <!--包包-->
    <div class="seperater"></div>
    <div class="mod1 home-goods clearfix">
        <div class="hd">
            <h3>包包</h3>
        </div>
        <div class="bd">
            <div class="block four-columns clearfix">
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
            </div>
            <div class="block four-columns clearfix">
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
            </div>
        </div>
    </div>
    <div class="mod1 style-tags clearfix">
        <div class="bd">
            <ul>
                <li><a href="#">最新</a></li>
                <li><a href="#">热门</a></li>
                <li><a href="#">初秋单鞋</a></li>
                <li><a href="#">复古</a></li>
                <li><a href="#">风衣外套</a></li>
                <li><a href="#">开衫</a></li>
                <li><a href="#">新款包</a></li>
                <li><a href="#">波点控</a></li>
                <li><a href="#">秋季补水</a></li>
                <li><a href="#">更多</a></li>
            </ul>
        </div>
    </div>


    <!--配饰-->
    <div class="seperater"></div>
    <div class="mod1 home-goods clearfix">
        <div class="hd">
            <h3>配饰</h3>
        </div>
        <div class="bd">
            <div class="block four-columns">
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
                <a href="#"><img src="http://img02.taobaocdn.com/tps/i2/T1tRb6XcRdXXcGO.rs-146-146.png" width="73"/></a>
            </div>
        </div>
    </div>
    <div class="mod1 style-tags clearfix">
        <div class="bd">
            <ul>
                <li><a href="#">最新</a></li>
                <li><a href="#">热门</a></li>
                <li><a href="#">初秋单鞋</a></li>
                <li><a href="#">复古</a></li>
                <li><a href="#">风衣外套</a></li>
                <li><a href="#">开衫</a></li>
                <li><a href="#">新款包</a></li>
                <li><a href="#">波点控</a></li>
                <li><a href="#">秋季补水</a></li>
                <li><a href="#">更多</a></li>
            </ul>
        </div>
    </div>






</div>