<div class="page-style" id="J-tagLayout">
    <div class="tab-holder" id="J-homeTab">
        <ul class="tab-nav">
            <li class="cur"><a href="#!category/v">分类</a></li>
            <li><a href="#!style">风格</a></li>
        </ul>
    </div>
    <div class="search-box clearfix">
        <div class="search-input"><input type="text" name="" id="J-searchContent"/></div><a href="#" id="J-searchBtn"><em>搜索</em></a>
    </div>
    <div class="no-search-result">没有搜索到符合条件的宝贝哦，换个词试试~</div>

   <div id="J-tagPageContent">
       <div class="loading"><span></span></div>
   </div>

</div>